*{
    transition: all ease-in-out .2s;
}
:root{
    --main-color: #3498db;
    --light-blue: #F3F8FF;
}

.main-color{
    color: var(--main-color);
}

.btn-main{
    color: var(--main-color);
    border: 1px solid  var(--main-color);
    background: transparent;
    text-align: center;
    
}
.btn-main:hover{
    color:white;
   
    background: var(--main-color);
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
a:hover{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

div{
    overflow: hidden;
}
img{
    width: 100%;
    
}
.text-intro{
    padding: 20px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#fullpage>div{
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 30px;
}
#intro{
    
}
#work{
    padding-top: 30px;
}
#work h1{

    text-align: center;
}
figcaption{
    text-align: center;
    font-size: 1.5em;
    color: white;
}
#work button{
    border: 1px solid var(--main-color);
    min-width: 60px;
    
}
#work button:hover{
    background:  var(--main-color);
    min-width: 60px;
    color: black ;
    
}
.gallery-image a{
    color: white;
    position: static;
}
.col,body,html{
    padding:0;
}


figure,figure img{
    height: 100%;
    width: 100%;
}
.gallery-image{
    height: 100%;
}

figcaption{
    background-color: rgba(0,0,0,.8) !important;
}

.main-header{
    color: white;
    text-align: center;
    padding:30px
   
}
.skill{
   padding: 20px;
   text-align: center;
   background-color: white;
   border-radius: 20px 20px 10px 10px ;
   min-height: 450px;
  

}
.skill:hover{
   box-shadow: 5px 5px 10px white ;
  

}
.skill-icon {
   height: 250px;
}
.skill-icon img {
   height: 100%;
}
#about .col-12{
   padding: 30px;
}
.form-control{

  border-radius: 30px;
   outline: none;
   padding:10px;
   border: 2px solid var(--main-color);
}
form{
   font-size: 30px;
   max-width: 600px;
}

.btn-form{
   border: 1px solid var(--main-color);
   font-size: 30px;

}
.btn-form:hover{
   background-color:  var(--main-color);
  color: white;

}
.soc .col{

text-align: center;
}

.icon-social i{
font-size: 50px;
opacity: .8;
}
.icon-social i:hover{

  
   opacity: 1;
   transform: rotate(360deg);
   transform: scale(1.2);
   
}
footer{
   text-align: center;
   padding: 30px;
   font-size: 30px;
  
}

@media only screen and (max-width: 768px){
    #contact form{
        text-align: center;
        margin: 10px auto ;
    }
    #contact .col{
        text-align: center;
    }
}

.soc{
    background-color: white;
}